<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Bot.Builder" version="3.8.0.0" targetFramework="net46" />
  <package id="Microsoft.Graph" version="1.5.0" targetFramework="net46" />
  <package id="Microsoft.Graph.Core" version="1.6.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.16.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net46" />
  <package id="Microsoft.Owin" version="2.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Auth-mono" version="0.26.0-pre-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Cors-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Diagnostics-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.ActiveDirectory-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Jwt-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OAuth-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin.Security-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Owin-mono" version="2.0.1-rtw1-20906-007" targetFramework="net46" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.2" targetFramework="net46" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.4.403061554" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
</packages>